body{
	margin: 0px;
	overflow: none;
}

/* Screen */

#screen{
	display: table;
	background-color: white;
	border: 1px solid black;
}

.screen-row{
	display: table-row;
}

.screen-pixel{
	display: table-cell;
	background-color: black;
	width: 7px;
	height: 7px;
}

#position-on{
	background-color: #363636;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* MDL */

.mdl-button{
	background-color: #262626;
	color: white;
}

.mdl-button:active{
	background-color: #222222;
	-webkit-animation-delay: 2s;
    animation-delay: 2s;
}